.container {
  display: grid;
  max-width: 1326px;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;
  margin-top: 10px;
}

.container > div:nth-child(n+4) {
  margin-top: 15px;
}

.cardContainer {
  max-width: 1128px;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  display: flex;
  max-width: 336px;
  max-height: 432px;
  align-items: center;
  flex-direction: column;

  border-radius: 40px;
  border: 1px solid var(--light_grey, #CCC);
  background: var(--white, #FFF);
}

.ava {
  padding: 28px 86px 0 86px;
  margin-bottom: 20px;

  & img {
    width: 164px;
    height: 164px;
  }
}

.fullName > h3 {
  margin-bottom: 12px;
  max-width: 256px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.status {
  margin-bottom: 32px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}

.button {
  margin-bottom: 28px;
}

.button > button {
  display: flex;
  width: 176px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 0;
  background: var(--orange, #F19F00);

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFFFFF;

  transition: 0.3s;
}

.button > button:hover {
  border: 1px solid black;
  cursor: pointer;
  transition: 0.3s;
  background: #cbff00;
  color: black;
}

.pagesController {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  margin-top: 0;
}

.pagesControllerPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.numberOfPage {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 10px;
}

.inputPages {
  text-align: center;
  width: 50px;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.countOfPages {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}